Repository Not-have/mb-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["eslint"],
  "*.vue": ["prettier --write", "stylelint --fix"],
  "package.json": ["prettier --write"],
  "{!(package)*.json,*.code-snippets,.!(browserslist)*rc}": [
    "prettier --parser json --write"
  ],
  "*.{scss,less,style,css,html}": ["stylelint --fix", "prettier --write"],
  "**/node_modules/**": []
}

build: 更新代码格式化和 ESLint 配置
  .prettier.mjs
  .prettierrc.json
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: eslint, prettier --write

feat: 添加 Dialog 组件及其可调整大小的功能
  .lintstagedrc
  auto-imports.d.ts
  package.json
  packages/components-schema/src/components/CountTo/src/CountTo.vue
  packages/components-schema/src/components/Dialog/index.ts
  packages/components-schema/src/components/Dialog/src/Dialog.vue
  packages/components-schema/src/components/Dialog/src/ResizeDialog.vue
  pnpm-lock.yaml
Due: eslint, prettier --write, stylelint --fix

feat: 新增 useSearch 和 useTable 钩子，提供搜索和表格功能的支持
  packages/components-schema/src/hooks/web/useSearch.ts
  packages/components-schema/src/hooks/web/useTable.ts
Due: eslint

refactor: 优化 useTable 钩子的代码结构和可读性
  packages/components-schema/src/hooks/web/useTable.ts
Due: eslint

feat: 添加 @yidatec/components-schema 依赖并更新相关配置
  package.json
  packages/components-schema/package.json
  pnpm-lock.yaml
  src/views/Login/components/LoginForm.vue
  tsconfig.app.json
  tsconfig.node.json
Due: prettier --write, stylelint --fix

Update package.json
  package.json
Due: prettier --write

test: 测试
  .npmrc
  package.json
  pnpm-lock.yaml
  src/components/Dialog/src/Dialog.vue
Due: prettier --write, stylelint --fix

fix: 更新 lintstagedrc 配置以包含对样式文件的格式化
  .lintstagedrc
Due: none

fix: 调整对话框头部按钮的内边距
  src/components/Dialog/src/Dialog.vue
Due: prettier --write, stylelint --fix

fix: 移除对话框头部按钮的内边距
  src/components/Dialog/src/Dialog.vue
Due: prettier --write, stylelint --fix
